[Unit]
Description=Periodically starts service to rebuild the desktop wallpaper for current cloud and terminator

[Timer]
OnBootSec=1min
OnUnitActiveSec=15min
Unit=clouds-rebuild.service

[Install]
WantedBy=multi-user.target